[commit]
	gpgsign = true
[core]
	excludesfile = ~/.global_gitignore
	fsmonitor = true
	untrackedcache = true
[fetch]
	prune = true
[gpg]
	format = ssh
[include]
	path = ~/.local_git/.git_personal_config
	path = ~/.gitconfig-os-specific
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[rerere]
	autoUpdate = true
	enabled = true
