[commit]
	gpgsign = true
[core]
	excludesfile = ~/.global_gitignore
	fsmonitor = true
	untrackedcache = true
[fetch]
	prune = true
[gpg]
	format = ssh
[include]
	path = ~/.gitconfig-os-specific
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[rerere]
	autoUpdate = true
	enabled = true
[user]
	email = victor.rodriguez.guriz@gmail.com
	name = Victor Rodriguez
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO8svbpnhW1fbLEKhF/9ckmLS0yE1s4GdWt+SlsYb1pe
