[branch]
  sort = -committerdate
[column]
  ui = auto
[commit]
  gpgsign = true
  verbose = true
[core]
  excludesfile = ~/.global_gitignore
[diff]
  algorithm = histogram
  colorMoved = default
  renames = true
[fetch]
  all = true
  prune = true
  pruneTags = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = ~/.local/bin/op-ssh-sign-wrapper
[help]
  autocorrect = prompt
[init]
  defaultBranch = main
[merge]
  conflictStyle = zdiff3
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  followTags = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[rerere]
  autoUpdate = true
  enabled = true
[url "git@github.com:"]
  insteadOf = https://github.com/
[user]
  email = kuchox@pm.me
  name = Victor Rodriguez
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO8svbpnhW1fbLEKhF/9ckmLS0yE1s4GdWt+SlsYb1pe
