zmodule environment
zmodule utility
zmodule archive
zmodule input
zmodule magic-enter
zmodule fzf
zmodule prompt-pwd
zmodule duration-info
zmodule git-info
zmodule asciiship
zmodule zsh-users/zsh-syntax-highlighting
