zmodule environment
zmodule input
zmodule prompt-pwd
zmodule duration-info
zmodule git-info
zmodule eriner
zmodule joke/zim-mise
zmodule direnv
zmodule exa
zmodule fzf
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule kucho/zim-zoxide
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
